body {
  background-color: rgb(57, 55, 55);
  box-sizing: border-box;
  
 } 

 h1{
   color:rgb(226, 165, 12);
   text-align: center;
    }

 th {
  color:rgb(226, 165, 12);
  margin-top: 10%;
  padding: 5px;
  }

 .table.table.table-border{
  margin-left: 33.5%;
 }
 
 .input-group.input-group-lg{
    margin-left: 41%;
    margin-bottom: 1%;
  }

input:focus::placeholder{
  color:transparent;
 }

 .data-item{
  background-color: aliceblue;
  
 }

 li{
  border: solid rgb(220, 219, 219) 1px;
  width:50px;
  text-align: center;
  padding: auto;
  background-color: rgb(209, 210, 212); 
 }

 li:hover{
  background-color:rgb(243, 239, 239)
 }


/* .page-link{
  text-decoration: none;
  font-size:large;
  color: rgb(68, 67, 67);
  border-color: transparent;
 background-color: transparent;
} */

td{
 height: 5vh;
 width: 5em;
 color:rgb(67, 66, 66);
text-align:center;
 background-color: rgb(209, 210, 212);

}

 /* .page-item{
  display:inline-flex;
  text-decoration: none;
  padding: 2px 10px;
  color: aqua;
  justify-content: center;

 } */

 


 .button-container {
  display:flex;
  justify-content: center;
  list-style-type: none;
  width:100%;
  border-color: rgb(7, 7, 7);
  /* margin: 0 auto;
  margin-top: 30px; */
  color: rgb(67, 66, 66);
  font-size:x-large;
  padding: 50px ;
  ;
 }
 


 /* .button-container{
  display: flex;
  justify-content: center;
 
 
 }  */