body {
  background-color: rgb(15, 10, 10);
  box-sizing: border-box;
  
 } 
 
 .data-header, h1{
   color:rgb(226, 165, 12)
   
 }
 .data-header{
   text-align: center;
 }
 
 .input-group md-3{
  display: flex;
  position: relative;
  align-self: center;
 }

 .data-item{
  background-color: aliceblue;
  color:black;
  column-gap: 2px;
 }